* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-color: var(--primary-color);
    color: var(--text-color);
}

:root {
    --primary-color: #333333;
    --secondary-color: #4D4D4D;
    --tertiary-color: #898989;
    --text-color: #FFF;
}

/* Header */

header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    padding: 10px;
}

/* main section */

.main {
    text-align: center;
    padding: 20px;
}

.new-book-btn {
    border: 0;
    padding: 10px;
    font-size: 1.5rem;
    margin: 20px auto;
    width: 200px;
    border-radius: 15px;
}

#card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 40px;
}

.book-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--tertiary-color);
    gap: 20px;
    border-radius: 15px;
    padding: 20px;
}

.btn {
    border: 0;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* form section */

.hidden {
    display: none;
}

.visible {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    gap: 15px;
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.visible h1 {
    padding: 20px;
}

.input {
    background-color: var(--secondary-color);
    padding: 5px;
    width: 100%;
    outline: var(--primary-color);
    border: 0;
    border-bottom: 2px solid var(--primary-color);
}

.input::placeholder {
    color: var(--text-color);
}

#book-submit {
    border-radius: 10px;
    border: 0;
    padding: 10px;
    color: var(--primary-color);
}